@use 'node_modules/inter-ui/default' with
    ($inter-font-display: swap, $inter-font-path: '/fonts/inter');

@use 'node_modules/inter-ui/variable' with
    ($inter-font-display: swap, $inter-font-path: '/fonts/inter');

@include default.all;
@include variable.all;

:root {
    --main-white: #fff;
    --main-black: #000000;
    --main-grey: #5c5c5c;
    --main-grey-alt: #9898b5;
    --main-green: #3bb14a;
    --main-light-grey: #eff1f7;
    --main-blue: #007aff;
    --main-bg: #131b33;
}

html {
    background: var(--main-bg);
    font-family: 'Inter', 'system-ui', sans-serif;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', 'system-ui', sans-serif;
    }
}

h1 {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.18px;
}

p {
    color: var(--main-grey);
    line-height: 16px;
    margin: 12px 0;
    text-align: center;
}

a {
    color: var(--main-blue);
    font-weight: 600;
    text-decoration: none;
}

strong,
b {
    font-weight: 600;
}

em {
    font-style: italic;
}
